@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant+SC:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import 'primeflex/primeflex.css';

.txt-display {
    font-family: Cormorant;
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.txt-menu {
    color: #EAAD3B;
    font-family: "Cormorant SC";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.txt-h1 {
    color: #F4617D;
    font-family: "Cormorant SC";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.txt-h2 {
    font-family: "Cormorant SC";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.txt-body {
    font-family: Amiri;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.txt-tag {
    color: #BE6677;
    font-family: Amiri;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}