.navBtn {
    color: #EAAD3B;
    font-family: "Cormorant SC";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navBtn:hover {
    color: #b5852a;
    font-family: "Cormorant SC";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}